<div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6 mx-auto">
  <h1 class="text-center component-label">
    Sign In
  </h1>
  <form [formGroup]="signInForm" novalidate (ngSubmit)='submit()'>
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" formControlName="email">
    </div>
    <div *ngIf="signInForm.controls['email'].invalid && (signInForm.controls['email'].dirty || signInForm.controls['email'].touched)" class="alert alert-danger">
      <div *ngIf="signInForm.controls['email'].errors.required">
        Email is required.
      </div>
      <div *ngIf="signInForm.controls['email'].errors.email">
        Email doesn't look good
      </div>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" formControlName="password" type="password" >
    </div>
    <div *ngIf="signInForm.controls['password'].invalid && (signInForm.controls['password'].dirty || signInForm.controls['password'].touched)" class="alert alert-danger">
      <div *ngIf="signInForm.controls['password'].errors.required">
        Password is required.
      </div>
      <div *ngIf="signInForm.controls['password'].errors.rangeLength">
        Password must contain minimum 8 characters.
      </div>
    </div>
    <div class="row text-center">
      <div class="col-6">
        <button type="submit" [disabled]="signInForm.pristine || signInForm.invalid" class="btn btn-success">
          Sign In
        </button>
      </div>
      <div class="col-6">
        <button type="button" routerLink="/sign_up" class="btn btn-primary">Sign up</button>
      </div>
    </div>
  </form>
  <br />
</div>
