<div class="task">
  <app-task-edit [task]='task' [hidden]='!show' (onCancel)='show = !show;'></app-task-edit>
  <div class="task-info" [hidden]='show'>
    <div class="row">
      <div class="col-11">
        <p class="task-label"><b>Name</b></p>
        <a [routerLink] = "[task.id]"><p>{{task.name}}</p></a>
        <p class="task-label"><b>Description </b></p>
        <p>{{task.description}}</p>
        <p>{{task.created_at | date: 'short'}}</p>
      </div>
      <div class="col-1 mt-4">
        <input type="checkbox" *ngIf='bulkmode' [(ngModel)]="selectedTasks[task.id]" >
      </div>
    </div>
    <div class="task-buttons">
      <button type="button" class="btn btn-primary btn-sm edit-button" (click)="show = !show;">Edit</button>
      <button type="button" class="btn btn-success btn-sm mark-button" (click)='markAsDone();' [ngClass]="{ 'marked-button': task.done }">{{task.done ? 'Mark as undone' : 'Mark as done'}}</button>
      <button type="button" class="btn btn-danger btn-sm delete-button" (click)='delete();'>Delete</button>
    </div>
  </div>
</div>
