<div class="task">
  <app-task-edit [task]='task'></app-task-edit>
  <div class="task-info">
    <p class="task-label"><b>Name</b></p>
    <p>{{task.name}}</p>
    <p class="task-label"><b>Description</b></p>
    <p>{{task.description}}</p>
    <div class="task-buttons">
      <button type="button" class="btn btn-primary btn-sm edit-button" (click)='showEdit()'>Edit</button>
      <button type="button" class="btn btn-success btn-sm mark-button">Mark as done</button>
      <button type="button" class="btn btn-danger btn-sm delete-button" (click)='delete()'>Delete</button>
    </div>
  </div>
</div>
